/* links */

.links {

    background-color: var(--black);

    width: 100%;
    position: fixed;
    left: 0%;
    top: 0;

    display: table;
    table-layout: fixed;

    align-items: center;
}

.links a {

    font-family: "Calendas-Italic";

    color: var(--tan);

    display: table-cell;
    text-align: center;

    color: --tan;

    font-size: 2vw;
}

.links h2 {
    letter-spacing: 0.1vw;

    color: var(--tan);

    display: table-cell;
    text-align: center;

    color: --tan;

    font-size: 2.5vw;
}

/* writing */

article {
    text-align: left;
    margin-top: 5vw;
    margin-left: auto; margin-right: auto;
    width: 70%;
}

article ul{
    list-style-type: none;
}

article h1 {
    font-size: 3vw;
}

article h2 {
    font-size: 2.5vw;
}

article p {
    font-size: 2vw;
}