/* image */

/* .image {
    height: 40vw;
}

.image img {
    height: 100%;
    object-fit: cover;
} */

/* title */

.title{
    white-space: nowrap;

    position: absolute;
    font-size: 24vw;
    left: 0;

    bottom: 30vw;
}

.title span {
    position: absolute;

    animation: scroll 40s linear infinite
}

.title span:nth-child(2) {
    animation-delay: 20s;
}

/* links */

.links {
    background-color: var(--black);

    width: 100%;
    position: fixed;
    left: 0%;
    bottom: 0;

    display: table;
    table-layout: fixed;
}

.links a {

    color: var(--tan);

    display: table-cell;
    text-align: center;

    color: --tan;

    font-size: 3vw;
}

/* animations */

@keyframes blur-in {
    0% {
        text-shadow: var(--black) 0 0 10vw;
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(100%);
      }
  }