@import "universal.css";

#subtitle {
    text-align: center;
    font-size: 2vw;
    font-style: italic;
    margin: 1vw 10vw 2vw 10vw;
}

#date-author {
    display: flex;
    margin: 1vw 30vw 2vw 30vw;
    justify-content: space-around;
}

#date-author {
    font-size: 1.5vw;
}

#article {
    display: block;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 1.5vw;
    margin-bottom: 3vw;
}

#article p, #article a{
    margin-top: 1vw;
    text-indent: 3vw;
}

#article a {
   text-decoration: var(--green) underline wavy;
}
#article a:hover {
   transform: none;
}


blockquote {
    border-left: 0.2vw solid var(--black);
    margin: 2vw 0.5vw;
    padding-left: 2vw;

    font-style: italic;
}