@import "universal.css";

#articles {
    margin-left: 10vw;
    margin-right: 10vw;
    list-style: none;
    counter-reset: count;
}

#articles li {
    justify-content: space-between;
    align-items: center;
    counter-increment: count;
    /* border-bottom: 0.1rem solid; */
    display: flex;
    counter-increment: count;
    margin-bottom: 3vw;
}

#articles li::after {
    content: counter(count);
    font-size: 2.5vw;
}

#articles li a {
    font-size: 2.5vw;
}

#articles li h2 {
    font-size: 2vw;
    font-style: italic;
}
